<div class="page-header">
  <h1>
    Sculptures
    <a href="/sculptures/new" class="btn btn-lg btn-success">New Sculpture</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Lat</th>
        <th>Lng</th>
        <th>City</th>
        <th>Description</th>
        <th>Aggregate</th>
        <th>Name</th>
        <th>Address</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Actions</th>
      </tr>

      <% @sculptures.each do |sculpture| %>
      <tr>
        <td><%= sculpture.lat %></td>
        <td><%= sculpture.lng %></td>
        <td><%= sculpture.city %></td>
        <td><%= truncate(sculpture.description) %></td>
        <td><%= sculpture.aggregate %></td>
        <td><%= sculpture.name %></td>
        <td><%= sculpture.address %></td>
        <td><%= sculpture.state %></td>
        <td><%= sculpture.zipcode %></td>
        <td>
          <a href="/sculptures/<%= sculpture.id %>" class="btn btn-primary">Show</a>
          <a href="/sculptures/<%= sculpture.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_sculpture/<%= sculpture.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
